.divsHome {
  margin: 50px;
}

.containerFilters {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.button {
  font-family: monospace;
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  font-family: "Orbitron";
  transition: 0.3s;
}

.button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}

.filter {
  border-radius: 10px;
  background: rgba(10, 118, 219, 0.486);
  color: rgb(12, 12, 12);
  font-size: larger;
  cursor: pointer;
  padding: 5px;
}

/* Estilos para teléfonos pequeños */
@media (max-width: 480px) {
  .divsHome {
    margin: 20px;
  }

  .containerFilters {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .button {
    width: 80px;
    height: 30px;
  }

  .filter {
    font-size: medium;
    padding: 3px;
  }
}

/* Estilos para notebooks y pantallas medianas */
@media (min-width: 481px) and (max-width: 1024px) {
  .divsHome {
    margin: 30px;
  }

  .containerFilters {
    margin: 30px;
  }

  .button {
    width: 90px;
    height: 35px;
  }

  .filter {
    font-size: large;
    padding: 4px;
  }
}

/* Estilos para pantallas grandes y monitores */
@media (min-width: 1025px) {
  .divsHome {
    margin: 50px;
  }

  .containerFilters {
    margin: 50px;
  }

  .button {
    width: 100px;
    height: 40px;
  }

  .filter {
    font-size: larger;
    padding: 5px;
  }
}
