.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 6rem;
  width: 95%;
  padding: 0.2rem 3%;
  color: rgb(255, 255, 255);
  text-align: left;
  backdrop-filter: blur(4px);
  margin-top: 9em;
  margin: auto;
}

.infoLeft {
  text-decoration: none;
  color: rgb(255, 249, 249);
  font-weight: 700;
  text-transform: uppercase;
  margin: auto;

  letter-spacing: 1px;
  /* margin-left: 5em; */
}
.logo {
  display: flex;
  align-items: center;
}
.logo img:hover {
  transform: scale(1.1);
}
.logo img {
  width: 90px; /* Ajusta el tamaño del ancho según tus necesidades */
  height: 90px; /* Ajusta el tamaño de la altura según tus necesidades */
  margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
}
.infoLeft,
.infoRight {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.infoLeft > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  color: white;
}

.infoRight > a {
  padding: 0.2rem;
  font-size: 1.3rem;
  border-radius: 1.5rem;
  background-color: rgb(15, 15, 15);
  color: rgb(250, 246, 246);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.infoRight > a:hover {
  transform: scale(1.05);
}

.infoRight > a:active {
  transform: scale(0.95);
}

.infoRight img {
  height: 3.4rem;
}
