@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");

.searchBar {
  display: flex;
  align-items: center;
  background: rgba(33, 32, 32, 0.9);
  margin-left: 10px;
  padding: 5px;
  width: 300px;
  height: 35px;
  border-radius: 10px;
  transform: scale(1.5);
}
.buttonSearch {
  font-family: monospace;
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  width: 90px;
  height: 30px;
  font-family: "Orbitron";
  transition: 0.3s;
}

.buttonSearch:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}

.input-container {
  position: relative;
  margin: 20px;
}

/* Input field */
.input-field {
  display: block;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
  color: white;
  font-family: "Orbitron";
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease;
}

.input-field:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: #007bff;
}

.input-field:focus + .input-label + .input-highlight {
  width: 100%;
}
